/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* SPECIAL RESET */
ol,
ul {
  list-style: none;
}

/*th,td{font-weight:normal;text-align:left;}*/
table {
  border-collapse: separate;
  border-spacing: 0;
}

:focus {
  outline: none;
}

/*============================================
=                    Base                    =
============================================*/
html * {
  max-height: 1000000px;
  /*-webkit-text-size-adjust: 100%;*/
}

a {
  color: #535353;
  text-decoration: none;
}

a,
area {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
}

img {
  vertical-align: top;
  width: 100%;
}

/*iframeRwd*/
/*=============================================
=                    base                     =
=============================================*/
body {
  font: normal 12px/18px Arial, 'Microsoft JhengHei';
  color: #fff;
  overflow-x: hidden;
}

input,
select,
textarea {
  font: normal 12px/18px Arial, 'Microsoft JhengHei';
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

a {
  color: #fff;
  text-decoration: none;
}

body,
html {
  height: 100%;
}

/*=============================================
=                 Structural                  =
=============================================*/
.wrapper {
  position: relative;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  display: block;
  text-align: center;
  background: #fff;
}

.pcShow {
  display: block;
}

.mShow {
  display: none;
}

/*=============================================
=                  All setting               =
=============================================*/
.video {
  position: relative;
  width: 78%;
  height: 0;
  margin: 0 auto;
}

.video .vd {
  position: relative;
  width: 98.5%;
  height: 0;
  padding-top: 55.5%;
  overflow: hidden;
  background: #000;
}

.video .vd iframe {
  transition: all 0.3s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*=============================================
=                     index                   =
=============================================*/
.main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: all 0.3s;
  max-width: 1300px;
  box-sizing: border-box;
}

.KV {
  position: absolute;
  z-index: 5;
  top: 0;
  margin: 0 auto;
  left: 3.8%;
  width: 95%;
}

.TVC {
  position: absolute;
  z-index: 100;
  width: 105%;
  top: 30%;
  left: -0.5%;
}

.Reviews {
  position: absolute;
  z-index: 100;
  top: 25%;
  left: 12%;
  width: 80%;
}

.Reviews .video {
  height: 100%;
}

.Reserve {
  position: absolute;
  bottom: 10%;
  left: 46%;
  width: 40%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.Reserve:hover {
  transform: translateY(-10%) translateX(-50%);
}

.introTech {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  padding-top: 30%;
  text-align: left;
}

.introTech .techImg {
  position: relative;
  padding-bottom: 5.5%;
  width: 95%;
}

.introTech .play {
  position: absolute;
  width: 90px;
  height: 90px;
  display: block;
  right: 30%;
  opacity: 0.75;
  transition: all 0.3s;
  animation: breathe 1.5s linear infinite;
}

.introTech .play.play01 {
  top: 23%;
}

.introTech .play.play02 {
  top: 29%;
}

.introTech .play:hover {
  transform: scale(1.2);
  opacity: 1;
}

.Tech {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.Tech .play {
  position: absolute;
  width: 90px;
  height: 90px;
  right: 30%;
  cursor: pointer;
  opacity: 0.75;
  transition: all 0.3s;
  animation: breathe 1.5s linear infinite;
}

.Tech .play:nth-child(1) {
  top: 22%;
}

.Tech .play:nth-child(2) {
  top: 39%;
}

.Tech .play:hover {
  transform: scale(1.2);
  opacity: 1;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.floatBtn {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 60px;
  z-index: 200;
}

.floatBtn img {
  width: 100%;
  vertical-align: top;
}

.introBtns .introBtn {
  position: absolute;
  top: 18%;
  display: block;
  width: 42%;
  transition: all 0.3s;
}

.introBtns .introBtn:nth-child(1) {
  right: 55%;
}

.introBtns .introBtn:nth-child(2) {
  right: 11%;
}

.introBtns .introBtn:hover {
  transform: scale(1.05);
}

.arrow-down {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #3db915;
  animation: jump 1.5s linear infinite;
}

@keyframes jump {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 1%;
  }
  100% {
    bottom: 0%;
  }
}

@keyframes jump2 {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.dec {
  position: absolute;
  z-index: 200;
}

.dec .percentage {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 4px;
  background-color: #cccccc;
}

.dec .percentage .point {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #22ac38;
  animation: jump2 3s linear infinite;
}

.dec.dec01 {
  top: 15%;
  right: -15%;
}

.dec.dec02 {
  top: 45%;
  left: -15%;
}

.dec.dec03 {
  top: 85%;
  right: -15%;
}

@media screen and (max-width: 750px) {
  .dec {
    display: none;
  }
  .main {
    max-width: 750px;
    box-shadow: none;
  }
  .floatBtn {
    width: 9%;
    top: 45%;
    bottom: 0;
    height: 1%;
  }
}

/*=============================================
=                     SECTION                   =
=============================================*/
.section {
  position: relative;
}

.section-KV .bg-img {
  position: relative;
  z-index: 100;
  pointer-events: none;
}

/*=============================================
=                     SLICK                   =
=============================================*/
.KV .slick-dots {
  bottom: 7%;
  text-align: left;
  margin-left: 10px;
}

.KV .slick-dots li button:before {
  font-size: 30px;
  color: #fff;
}

.Reviews .slick-prev,
.Reviews .slick-next {
  top: 50%;
  opacity: 0.75;
  transition: all 0.3s;
}

.Reviews .slick-next {
  right: -15px;
}

.Reviews .slick-next:hover {
  right: -20px;
  opacity: 1;
}

.Reviews .slick-next:before {
  content: url(img/arrow-right.png);
}

.Reviews .slick-prev {
  left: -40px;
  z-index: 10;
}

.Reviews .slick-prev:hover {
  left: -45px;
  opacity: 1;
}

.Reviews .slick-prev:before {
  content: url(img/arrow-left.png);
}

.Reviews .slick-dots {
  bottom: -50px;
}

.Reviews .slick-dots li {
  margin: 0 10px;
}

.Reviews .slick-dots li button:before {
  font-size: 40px;
  color: transparent;
  background: transparent;
  opacity: 1;
  border-radius: 50%;
  border: 1px solid #22ac38;
}

.Reviews .slick-dots li button:hover:before {
  background: #22ac38;
}

.Reviews .slick-dots li.slick-active button:before {
  background: #22ac38;
}

/*=============================================
=                     RWD                   =
=============================================*/
@media screen and (max-width: 750px) {
  .pcShow {
    display: none;
  }
  .mShow {
    display: block;
  }
  .KV .slick-dots li {
    margin: 0 -2px;
  }
  .KV .slick-dots li button:before {
    font-size: 20px;
  }
  .Reviews .slick-dots li button:before {
    font-size: 30px;
  }
}
