@charset "UTF-8";
@import 'normalize';

/* SPECIAL RESET */
ol,
ul {
    list-style: none;
}

/*th,td{font-weight:normal;text-align:left;}*/
table {
    border-collapse: separate;
    border-spacing: 0;
}

:focus {
    outline: none;
}

/*============================================
=                    Base                    =
============================================*/
html * {
    max-height: 1000000px; /*-webkit-text-size-adjust: 100%;*/
}

a {
    color: #535353;
    text-decoration: none;
}

a,
area {
    outline: none;
    hlbr: expression(this.onFocus=this.blur());
}

img {
    vertical-align: top;
    width: 100%;
}

/*iframeRwd*/
/*=============================================
=                    base                     =
=============================================*/
body {
    font: normal 12px/18px Arial, 'Microsoft JhengHei';
    color: #fff;
    overflow-x: hidden;
}

input,
select,
textarea {
    font: normal 12px/18px Arial, 'Microsoft JhengHei';
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

a {
    color: #fff;
    text-decoration: none;
}

body,
html {
    height: 100%;
}

/*=============================================
=                 Structural                  =
=============================================*/
.wrapper {
    position: relative;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    display: block;
    text-align: center;
    background: #fff;
    // background: linear-gradient(rgba(255, 255, 255, 1) 70%, rgba(208, 208, 208, 1) 100%);
}

.pcShow {
    display: block;
}

.mShow {
    display: none;
}

/*=============================================
=                  All setting               =
=============================================*/

.video {
    position: relative;
    width: 78%;
    height: 0;
    margin: 0 auto;
}
.video .vd {
    position: relative;
    width: 98.5%;
    height: 0;
    padding-top: 55.5%;
    overflow: hidden;
    background: #000;
}
.video .vd iframe {
    transition: all 0.3s;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*=============================================
=                     index                   =
=============================================*/
.main {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: all 0.3s;
    max-width: 1300px;
    box-sizing: border-box;

    // box-shadow: 0 0 50px 10px #ccc;
}

.KV {
    position: absolute;
    z-index: 5;
    top: 0;
    margin: 0 auto;
    left: 3.8%;
    width: 95%;
}

.TVC {
    position: absolute;
    z-index: 100;
    width: 105%;
    top: 30%;
    left: -0.5%;
}
.Reviews {
    position: absolute;
    z-index: 100;
    top: 25%;
    left: 12%;
    width: 80%;
    .video {
        height: 100%;
        // padding: 8% 0;
    }
}
.Reserve {
    position: absolute;
    bottom: 10%;
    left: 46%;
    width: 40%;
    transform: translateX(-50%);
    transition: all 0.3s;
    &:hover {
        transform: translateY(-10%) translateX(-50%);
    }
}
.introTech {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    padding-top: 30%;
    text-align: left;

    .techImg {
        position: relative;
        padding-bottom: 5.5%;
        width: 95%;
    }
    .play {
        position: absolute;
        width: 90px;
        height: 90px;
        display: block;
        right: 30%;

        opacity: 0.75;
        transition: all 0.3s;
        animation: breathe 1.5s linear infinite;
        &.play01 {
            top: 23%;
        }
        &.play02 {
            top: 29%;
        }
        &:hover {
            transform: scale(1.2);
            opacity: 1;
        }
    }
}
.Tech {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    z-index: 100;
    .play {
        position: absolute;
        width: 90px;
        height: 90px;
        right: 30%;
        cursor: pointer;
        opacity: 0.75;
        transition: all 0.3s;
        animation: breathe 1.5s linear infinite;
        &:nth-child(1) {
            top: 22%;
        }
        &:nth-child(2) {
            top: 39%;
        }
        &:hover {
            transform: scale(1.2);
            opacity: 1;
        }
    }
}
@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
.floatBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60px;
    z-index: 200;
    img {
        width: 100%;
        vertical-align: top;
    }
}
.introBtns {
    .introBtn {
        position: absolute;
        top: 18%;
        display: block;
        width: 42%;
        &:nth-child(1) {
            right: 55%;
        }
        &:nth-child(2) {
            right: 11%;
        }
        transition: all 0.3s;
        // transform-origin: 100% 50%;
        &:hover {
            transform: scale(1.05);
        }
    }
}
.arrow-down {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #3db915;
    animation: jump 1.5s linear infinite;
}
@keyframes jump {
    0% {
        bottom: 0%;
    }
    50% {
        bottom: 1%;
    }
    100% {
        bottom: 0%;
    }
}
@keyframes jump2 {
    0% {
        top: 0%;
    }

    100% {
        top: 100%;
    }
}
.dec {
    position: absolute;
    z-index: 200;
    .percentage {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 500px;
        width: 4px;
        background-color: #cccccc;

        .point {
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #22ac38;
            animation: jump2 3s linear infinite;
        }
    }
    &.dec01 {
        top: 15%;
        right: -15%;
    }
    &.dec02 {
        top: 45%;
        left: -15%;
    }
    &.dec03 {
        top: 85%;
        right: -15%;
    }
}
@media screen and (max-width: 750px) {
    .dec {
        display: none;
    }
    .main {
        max-width: 750px;
        box-shadow: none;
    }
    .floatBtn {
        width: 9%;
        top: 45%;
        bottom: 0;
        height: 1%;
    }
}
/*=============================================
=                     SECTION                   =
=============================================*/
.section {
    position: relative;
    &-KV {
        .bg-img {
            position: relative;
            z-index: 100;
            pointer-events: none;
        }
    }
}
/*=============================================
=                     SLICK                   =
=============================================*/
.KV {
    .slick-dots {
        bottom: 7%;
        text-align: left;
        margin-left: 10px;

        li button:before {
            font-size: 30px;
            color: #fff;
        }
    }
}
.Reviews {
    .slick-prev,
    .slick-next {
        top: 50%;
        opacity: 0.75;
        transition: all 0.3s;
    }
    .slick-next {
        right: -15px;
        &:hover {
            right: -20px;
            opacity: 1;
        }
        &:before {
            content: url(img/arrow-right.png);
        }
    }
    .slick-prev {
        left: -40px;
        z-index: 10;
        &:hover {
            left: -45px;
            opacity: 1;
        }
        &:before {
            content: url(img/arrow-left.png);
        }
    }

    .slick-dots {
        bottom: -50px;
        li {
            margin: 0 10px;
        }

        li button:before {
            font-size: 40px;
            color: transparent;
            background: transparent;
            opacity: 1;
            border-radius: 50%;
            border: 1px solid #22ac38;
        }
        li button:hover:before {
            background: #22ac38;
        }
        li.slick-active button:before {
            background: #22ac38;
        }
    }
}
/*=============================================
=                     RWD                   =
=============================================*/
@media screen and (max-width: 750px) {
    .pcShow {
        display: none;
    }
    .mShow {
        display: block;
    }
    .KV .slick-dots {
        li {
            margin: 0 -2px;
        }
        li button:before {
            font-size: 20px;
        }
    }
    .Reviews .slick-dots {
        li button:before {
            font-size: 30px;
        }
    }
}
